

<div class="container-fluid, bg">


  <div>
    <div class="row">
      <div class="col-sm-16, caption">
        <h1 class=""> Fly Abow Your Dreams...</h1>
        <h4 class="">Search Hundreds of Job Boards at Once</h4>
      </div>

    </div>

    <div class="row, search">

      <div class="col-sm-16">
        <form class="form-inline">
          <div class="form-group">

            <input type="text" class="form-control"  ng-model="search.section" placeholder="JOb title, keywords">
          </div>
          <div class="form-group">

            <input type="text" class="form-control"  ng-model="search.company"placeholder="Company">
          </div>

          <div class="form-group">

            <input type="text" class="form-control"  ng-model="search.location" placeholder="Location">
          </div>
        </form>

      </div>

    </div>

  </div>
  <div class="searchbtn">
    <a href="#searchResult"><button type="button" class="btn btn-info" ng-click="searchFunction(search)">
      <span class="glyphicon glyphicon-search"></span>Search</button></a>

  </div>
</div>
